name: Extract and release build artifact

on:
  push:
    paths-ignore:
      - '**.md'
    branches:
      - '**'
  pull_request:
    paths-ignore:
      - '**.md'
    branches:
      - '**'
  workflow_dispatch:

jobs:
  extract-artifacts:
    name: Extract ${{ matrix.flavour }} (${{ matrix.arch }})
    strategy:
      matrix:
        arch: ["amd64"]
        flavour: ["containeros", "sway"]
    uses: bbusse/github-workflows/.github/workflows/container-extract-and-release-artifact.yml@dev
    with:
      image: ghcr.io/bbusse/gentoo-stage4-${{ matrix.flavour }}-${{ matrix.arch }}:latest
      filename: gentoo-stage4-${{ matrix.flavour }}-${{ matrix.arch }}.tar.xz
      release: false
    secrets:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
